.* {
  background-color: white;
  color: darkgray;
}

.allbox {
  border: 4px solid gray;
  width: 1200px;
}

.header {
  border-bottom: 1px solid #ddd;
}

.header-name {
  font-size: 30px;
  color: gray;
  font-weight: bold;
  padding: 20px;
  width: 96%;
  border: none;
}

.write {
  color: gray;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  resize: none;
  width: 100%;
  height: 450px;
  font-size: 20px;
  box-sizing: border-box;
}

#questionNotice {
  display: none;
  margin: 18px 18px;
  background-color: #dff8f8;
  color: #2bbec0;
  border-radius: 18px;
  padding: 10px 10px;
  font-size: 15px;
}

.lastbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: gray;
}

.label {
  font-size: 20px;
  color: gray;
}

.right img {
  width: 80px;
  height: 90px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  border: none;
  background-color: white;
}

.icon img {
  width: 50px;
  height: 50px;
}
